python-dotenv

langchain
langchain-community
langchain-classic
langchain-core

langchain-groq
langchain-huggingface
langchain-google-genai
langchain-openai

docx2txt
ipykernel
python-dotenv
python-multipart

langsmith
openai

fastapi
uvicorn
Jinja2

pytest

pandas